/*SUBJECTS*/
#subjects{
  font-size: 10px;
  margin:10px;
  
}
.semesterblock{
  display: inline-block;
  text-align: center;
  padding: 8px;
  vertical-align: top;
  border-right: 2px dashed rgb(34,106,84);
}
.semestertitle{
  font-weight: bold;
  font-size: 16px;
}
.subject{
  width: 200px;
  border: 1px solid rgb(195,195,195);
  border-radius: 6px;
  margin-bottom: 10px;
}
.diffsubject{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  text-align: center;
}
.subjectname{
  background-color: rgb(195,195,195);
  border-radius: 4px;
  margin:2px;
}
.subjectcode{
  background-color: rgb(220,220,220);
  border-radius: 4px;
  margin:2px;
}
.subjectcredit{
  background-color: rgb(220,220,220);
  border-radius: 4px;
  margin: 2px;
}
#title{
  text-align: center;
  color: rgb(34,106,84);
}
.curriculums{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.curriculum{
  background-color:rgb(34,106,84);
  border:3px solid rgb(27,89,67);
  color:white;
  border-radius:8px;
  padding:5px 12px;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}
.curriculum:hover{
  background-color:rgb(10,45,25);
  border-color: rgb(1,16,3);
}
a{
  text-decoration: none;
}
/* NAVBAR */
.navbar{
  box-shadow: 0px 3px 4px #222222;
  background-color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(34,106,84);
    font-size: 22px;
}
/*NAVBAR -> LOGIN*/
.form-group{
  margin:0;
}
.form-control{
  font-size: 0.85rem;
}
#inputPassword{
  background: url(img/passwordicon.png) no-repeat scroll 2px 1px;
  background-color: white;
  padding-left: 45px;
}
#inputUserName{
  background: url(img/usericon.png) no-repeat scroll 2px 1px;
  background-color: white;
  padding-left: 45px;
}
.submitbutton{
  background-color:rgb(34,106,84);
  border-color: rgb(34,106,84);
  color:white;
  border-radius:5px;
  padding:5px 12px;
}
.submitbutton:hover{
  background-color:rgb(27,89,67);
}
